body {
    text-align: center;
    color: white;
}

a {
    color: wheat;
}

table th, table td{
    display: table-cell;
    vertical-align: middle;
 }

 table td:hover {
    color: wheat;
}

/* manage images */
#projects img {
    width: 400px; /* Adjust the width as needed */
    height: auto;
}


.space {
	padding: 20px 0;
}

/* .image-container > .image-item {
    margin-right: 20px; /* Adjust the spacing between images *
} */