/* Element Selector */
body {
    text-align: center;
    background-image: url('/images/AI_2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    font-size: large;
}

main {
    font-size: medium;
}

footer {
    font-size: small;
}

/* .centered-list {
    text-align: center;
}

.centered-list li {
    list-style-position: inside;
} */

/* Class Selector --------------------------------------------------- */
.vote {
    color:#ffffff;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gold {
    color: rgb(255, 215, 0);
}

.fa-thumbs-up {
    color: #318CE7;
}

.fa-heart {
    color: red;
}

.remove {
    list-style-type: none;
    padding: 0;
}

/* ID Selector --------------------------------------------------- */
/* #add_like {
    background-color: #de90b3;
}

#add_love {
    background-color: #e3226c;
} */

/* Descendant Selector */
main ul li {
    background-color: transparent;
    text-decoration: gold underline;;
}

/* Attribute Selector */
a[target="_blank"] {
    text-decoration: none;
    color: gold;
    border: 1pt dashed;
}

nav > a {
    color: #ffffff;
    background-color: transparent;
}

#bio > a {
    color: #ffffff;
    background-color: black;
}

/* .btn_btn-primary {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */

/* .navbar li a{
    color: #0000f0;
} */
