body {
    background-image: url('../images/github-wallpaper.jpg');
    background-size: cover;
    background-position: center center; /* Center the image both horizontally and vertically */
    background-repeat: no-repeat; /* Do not repeat the image */
}

p, h1, h2, h3 {
    padding: 4px; /* Add padding for spacing around the text */
}
