body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.instruction {
    font-weight: 400;
    font-style: italic;
}

button {
    margin: 40px 40px 40px 40px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #999;
    height: 100px;
    width: 200px;
}